<template>
    <div v-if="hasAccess">
        <slot></slot>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: 'acl-container',
        computed: {
            ...mapGetters({
                checkAcl: 'acl/checkAcl',
                getPermissoes: 'acl/getPermissoes',
                getRoutes: 'acl/getRoutes',
                findMatch: 'acl/findMatch',
            }),
        },
        data() {
            return {
                hasAccess: false
            }
        },
        props: {
            toName: {
                type: String,
                required: true
            },
        },
        watch: {
            getRoutes() {
                if (this.getRoutes.length > 0) {
                    this.hasAccess = this.checkAcl(this.toName);
                }
            }
        },
    }
</script>
