<template>
    <div>
        <v-list-item
                v-for="item in itemsMenuHasAccess"
                :key="item.title"
                :to="{ name: item.routeName, params: {...item.params} }"
                link
        >
            <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </div>
</template>

<script>
    import {VIcon, VListItem, VListItemContent, VListItemIcon, VListItemTitle,} from 'vuetify/lib';
    import {mapGetters} from 'vuex'

    export default {
        name: 'acl-menu',
        components: {
            VIcon,
            VListItem,
            VListItemContent,
            VListItemIcon,
            VListItemTitle,
        },
        computed: {
            ...mapGetters({
                checkAcl: 'acl/checkAcl',
                getRoutes: 'acl/getRoutes',
            }),
        },
        data() {
            return {
                itemsMenuHasAccess: []
            }
        },
        props: {
            itemsMenu: {
                type: Array,
                required: true
            },
        },
        watch: {
            getRoutes() {
                this.renderMenuItems()
            },
            itemsMenu() {
                this.renderMenuItems()
            }
        },
        methods: {
            renderMenuItems() {
                this.itemsMenuHasAccess = [];
                if (this.getRoutes.length > 0 && this.itemsMenu.length > 0) {
                    this.itemsMenu.map(itemMenu => {
                        if (this.checkAcl(itemMenu.routeName)) {
                            this.itemsMenuHasAccess.push(itemMenu)
                        }
                    });
                }
            }
        }
    }
</script>
