<template>
    <div v-if="hasAccess">
        <router-link :to="{ name: toName }" v-slot="{ href, route, navigate, isActive, isExactActive }">
            <slot></slot>
        </router-link>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: 'acl-router-link',
        computed: {
            ...mapGetters({
                checkAcl: 'acl/checkAcl',
                getPermissoes: 'acl/getPermissoes',
                getRoutes: 'acl/getRoutes',
                findMatch: 'acl/findMatch',
            }),
        },
        data() {
            return {
                hasAccess: false
            }
        },
        props: {
            toName: {
                type: String,
                required: true
            },
        },
        watch: {
            toName() {
                console.log(this.toName);
            },
            getRoutes() {
                this.hasAccess = this.checkAcl(this.toName);
            }
        },
    }
</script>
