<template>
    <div>
    </div>
</template>
<script>
    import {
        VBtn,
        VCard,
        VCardActions,
        VCardText,
        VCol,
        VContainer,
        VForm,
        VRow,
        VTextField,
        VToolbar,
        VToolbarTitle,
    } from 'vuetify/lib'
    import './Login.scss'
    import axios from 'axios'
    import {mapActions, mapGetters} from 'vuex'
    import {resources} from '@/plugins/config';
    import {getMessage} from '@/utils'
    import {userFactory} from "@/plugins/auth";

    export default {
        name: 'acl-route',
        components: {
            VBtn,
            VCard,
            VCardActions,
            VCardText,
            VCol,
            VContainer,
            VForm,
            VRow,
            VTextField,
            VToolbar,
            VToolbarTitle,
        },
        methods: {
            /**
             * Conecta o State do Redux nas Propriedades do Componente
             *
             * @param state State do Redux com os Reducers
             * @param ownProps
             * @return {{hasAccess: boolean}} Objeto que será fundido às props do Componente
             */
            mapStateToProps(state, ownProps) {
                const route = aclSelectors.findMatch(state, ownProps.url);
                let acl = [];

                // Pega as regras de ACL da rota, caso exista
                if (route && route.acl) {
                    acl = acl.concat(route.acl);
                }

                // Faz o merge com as regras de ACL deste componente
                if (ownProps.acl && ownProps.acl.length) {
                    ownProps.acl.forEach(function(rule) {
                        if (acl.indexOf(rule) === -1) {
                            acl.push(rule);
                        }
                    });
                }

                return {
                    hasAccess: aclSelectors.checkAcl(state, acl)
                };
            },
            ...mapActions({
                aclActions: bindActionCreators(AclActions, dispatch),
                addToast: 'toast/addToast',
            }),
        },
        computed: {
            ...mapGetters({
                permissoes: aclSelectors.getPermissoes(state),
                hasAccess: aclSelectors.checkAcl(state, ownProps.acl),
            }),
        },
        props: {
            acl: Array,
        },
        data() {
            return {
            }
        },
        mounted() {

            // Lógica para validar o acl dessa rota
            if (this.props.permissoes && this.props.acl && this.props.acl.length > 0) {
                if (!this.props.hasAccess) {
                    // O usuário não tem permissão pra esta rota.
                    console.error('MRE-ACL: O usuário não tem permissão pra esta rota.');
                    this.props.history.push('/');

                    return this.willRender = false;
                }
            }
        }
    }
</script>